<header>
    <div class="flex justify-between">
        <%= link_to "My Tasks", root_path %>
        
        <nav>
            <ul class="flex justify-between">
                <li><%= link_to "Due Today", "#" %></li>
                <li><%= link_to "Categories", "#" %></li>
                <li><%= link_to "All Tasks", "#" %></li>
            </ul>
        </nav>
    </div>
</header>